* {
    margin: 0;
    padding: 0;
}
body {
    background-color:white;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
    border: none;
    box-shadow: 0px 0px 10px 2px black;
}
.games{
    width: 30%;
    height: 85vh;
    border: none;
    box-shadow: 0px 0px 10px 2px black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.game,label {
    font-size: 20px;
    font-weight: 800;
    margin-top: 25px;
}
.guess{
    width: 40%;
    height: 85vh;
    border: none;
    box-shadow: 0px 0px 10px 2px black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    flex-direction: column;
}
.how{
    width: 30%;
    height: 85vh;
    border: none;
    box-shadow: 0px 0px 10px 2px black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    flex-direction: column;
    margin-right: 40px;
    white-space: pre;
}
.guess h1 {
    font-size: 30px;
    text-align: center;
    white-space: pre;
}
ol {
    list-style: none;
}
li{
    margin-top: 20px;
}
.count {
    font-size: 30px;
}
.score {
    font-size: 50px;
    padding: 15px;
}
button {
    color: ghostwhite;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: -webkit-linear-gradient(right, rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
}
.none {
    font-size: 26px;
}
.list {
    list-style: none;
}
.guess li {
    font-size: 25px;
}
.text {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-left: 40px;
    border: none;
    text-transform: lowercase;
    outline: none;
    color: white;
    background: -webkit-linear-gradient(left,rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
}
@media screen and (max-width:1180px){
    .games{
        width: 30%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
    }
    .guess{
        width: 40%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        flex-direction: column;
    }
    .guess h1{
        font-size: 25px;
    }
    .how{
        width: 30%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        flex-direction: column;
        margin-right: 40px;
        white-space: pre;
    }
    .none {
        font-size: 23px;
    }
    button {
        color: ghostwhite;
        font-size: 15px;
        margin-top: 20px;
        margin-left: -4px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        border: none;
        background: -webkit-linear-gradient(right, rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
    .text {
        text-align: center;
        padding: 10px;
        font-size: 20px;
        margin-left: -4px;
        text-transform: lowercase;
        border: none;
        outline: none;
        color: white;
        background: -webkit-linear-gradient(left,rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
    .guess li {
        font-size: 22px;
    }
}
@media screen and (max-width:969px) {
    .games{
        width: 32%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    .game,label {
        font-size: 17px;
        font-weight: 800;
        margin-top: 22px;
    }
    .guess{
        width: 40%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        flex-direction: column;
    }
    .how{
        width: 30%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        flex-direction: column;
        margin-right: 20px;
        white-space: pre;
    }
    .guess h1 {
        font-size: 20px;
    }
    button {
        color: ghostwhite;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 0px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        border: none;
        background: -webkit-linear-gradient(right, rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
    .how h2 {
        font-size: 20px;
    }
    .none {
        display: none;
    }
    .guess li {
        font-size: 22px;
    }
    li {
        font-size: 14px;
    }
    .text {
        text-align: center;
        width: 75%;
        padding: 10px 0px;
        font-size: 20px;
        margin-left: 0px;
        text-transform: lowercase;
        border: none;
        outline: none;
        color: white;
        background: -webkit-linear-gradient(left,rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
}
@media screen and (max-width:769px) {
    .how li {
        font-size: 12px;
    }
    .games{
        width: 32%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    .game,label {
        font-size: 17px;
        font-weight: 800;
        margin-top: 22px;
    }
    .guess{
        width: 40%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        flex-direction: column;
    }
    .how{
        width: 30%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        flex-direction: column;
        margin-right: 20px;
        white-space: pre;
    }
    .guess h1 {
        font-size: 30px;
    }
    button {
        color: ghostwhite;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 0px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        border: none;
        background: -webkit-linear-gradient(right, rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
    .how h2 {
        font-size: 18px;
    }
    .none {
        display: none;
    }
    .text {
        text-align: center;
        padding: 10px;
        width: 70%;
        font-size: 20px;
        margin-left: 0px;
        text-transform: lowercase;
        border: none;
        outline: none;
        color: white;
        background: -webkit-linear-gradient(left,rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
}

@media screen and (max-width:680px) {
    .container {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        border: none;
    }
    .games{
        position: absolute;
        top: 610px;
        width: 96%;
        height: 40vh;
        margin-left: 11px;
        border: none;
        box-shadow: 0px 0px 10px 2px black;
    }
    form {
        margin-top: -35px;
        margin-left: 55px;
        display:grid;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
    }
    .game,label {
        font-size: 20px;
        font-weight: 800;
        margin-top: 25px;
    }
    .guess{
        position: absolute;
        top: 895px;
        display: flex;
        border-radius: 30px;
        width: 96%;
        height: 90vh;
        margin-left: 11px;
        margin-top: 0px;
        border: none;
        box-shadow: 0px 0px 10px 2px black;
    }
    .how{
        position: absolute;
        top: 30px;
        width: 96%;
        height: 85vh;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left: 11px;
        flex-direction: column;
        margin-right: 0px;
        white-space: pre;
        font-size: 30px;
        border: none;
        box-shadow: 0px 0px 10px 2px black;
    }
    .how h2 {
        margin-top: 30px;
        font-size: 23px;
    }
    .how h3{
        margin-top: -0px;
        font-size: 23px;
    }
    .guess h1 {
        font-size: 20px;
        margin-top: 0px;
    }
    ol {
        list-style: none;
    }
    .how li{
        margin-top: -30px;
        font-size: 30px;
    }
    span {
        font-size: 30px;
    }
    .score {
        font-size: 50px;
        padding: 15px;
    }
    button {
        color: ghostwhite;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 40px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        border: none;
        background: -webkit-linear-gradient(right, rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
    .none {
        display: block;
        font-size: 30px;
    }
    .guess li {
        font-size: 25px;
    }
    .text {
        text-align: center;
        padding: 10px;
        text-transform: lowercase;
        font-size: 20px;
        margin-left: 40px;
        border: none;
        outline: none;
        color: white;
        background: -webkit-linear-gradient(left,rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
}

@media screen and (max-width:500px) {
    .container {
        position: relative;
        display: block;
        width: auto;
        height: auto;
        border: none;
    }
    .games{
        position: absolute;
        top: 390px;
        width: auto;
        height: auto;
        margin-left: 18px;
        border: none;
        box-shadow: 0px 0px 10px 2px black;
    }
    form {
        padding: 0px 0px;
        margin-top: 0px;
        margin-left: 20px;
        display:grid;
        column-gap: 40px;
        grid-template-columns: 150px 150px;
        grid-template-rows: 250px;
    }
    .game,label {
        font-size: 15px;
        font-weight: 800;
        top: 0px;
    }
    .guess{
        position: absolute;
        top: 700px;
        border-radius: 30px;
        width: auto;
        height: auto;
        border: none;
        box-shadow: 0px 0px 10px 2px black;
        white-space: nowrap;
        margin-left: 18px;
        padding: 0px 50px;
    }
    .pre {
        padding: 20px;
    }
    .how{
        position: absolute;
        top: 30px;
        width: auto;
        height: auto;
        text-align: center;
        margin-left: 18px;
        margin-right: 0px;
        white-space: pre;
        font-size: 20px;
        border: none;
        padding:0px;
        box-shadow: 0px 0px 10px 2px black;
    }
    .how h2 {
        margin-top: 30px;
        font-size: 23px;
    }
    .how h3{
        margin-top: -0px;
        font-size: 23px;
    }
    .color {
        font-size: 23px;
        margin-top: 0px;
    }
    ol {
        list-style: none;
    }
    .how li{
        list-style: none;
        margin-top: -30px;
        font-size: 18px;
        white-space: nowrap;
    }
    span {
        font-size: 30px;
    }
    .score {
        font-size: 50px;
        padding: 15px;
    }
    button {
        color: ghostwhite;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 10px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        border: none;
        background: -webkit-linear-gradient(right, rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
    .none {
        display: block;
        font-size: 18px;
    }
    .guess li {
        font-size: 25px;
    }
    .text {
        text-align: center;
        padding: 10px;
        font-size: 20px;
        text-transform: lowercase;
        margin-left: 10px;
        border: none;
        outline: none;
        color: white;
        background: -webkit-linear-gradient(left,rgba(1, 18, 36, 0.921),rgba(15, 110, 211, 0.921));
    }
}

